  
@font-face {
    font-family: Lemon;
    src: url(fonts/LEMONMILK-Bold.otf);
}
@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Black.ttf);
}
@font-face {
    font-family: Noodle;
    src: url(fonts/big_noodle_titling.ttf);
}
@font-face {
    font-family: AandC;
    src: url(fonts/aliens and cows_trial.ttf);
}
body{
    
    background-color: #aeb8ba;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color:black;
}
h1{
    font-family: "AandC", sans-serif;
    text-align: center;
}
h2{
    font-family: "AandC", sans-serif;
    text-align: center;
}
h3{
    font-family: "AandC", sans-serif;
    text-align: center;
}
h4{
    font-family: "AandC", sans-serif;
    text-align: center;
}
h5{
    font-family: "AandC", sans-serif;
    text-align: center;
}
p{
    font-family: "Roboto", sans-serif;
    text-align: center;
}
#nav {
    list-style-type: none;
    margin: -8px;
    padding: 0;
    overflow: hidden;
    background-color: #2e2f2f;
}
#nav li {
    float: right;
}
#nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.6s ease;
}
#nav li a:hover {
    background-color: white;
    color: black;
}
#nav li a:active {
    background-color: #2e2f2f;
    color:white;
}
ul{
    font-family: "Noodle", sans-serif;
    text-align: center;
}
ol{
    font-family: "Noodle", sans-serif;
    text-align: center;
}
table{
    font-family: "Roboto", sans-serif;
    text-align: center;
    margin:auto;
}
#pic {
    border: solid white 3px;
    margin: 50px;
    padding: 75px;
    text-align: center;
    font-size: larger;
    font-weight: bold;
}
#abt {
    text-align: center;
}
#hobbies{
    width: 250px;
    text-align: left;
    margin: auto;
}
#songs{
    width: 250px;
    text-align: left;
    margin: auto;
}
#contact{
    width: 300px;
    text-align: left;
    margin: auto;
}
#game{
    text-align: center;
}
