  
@font-face {
    font-family: Dreams;
    src: url(fonts/CaviarDreams.ttf);
}
@font-face {
    font-family: Quicksand;
    src: url(fonts/Quicksand_Book.otf);
}
body{
    background-image: url(images/wave.jpg);
    background-color: #98b4e0;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color:black;
}
h1{
    font-family: "Dreams", sans-serif;
    text-align: center;
}
h2{
    font-family: "Dreams", sans-serif;
    text-align: center;
}
h3{
    font-family: "Dreams", sans-serif;
    text-align: center;
}
h4{
    font-family: "Dreams", sans-serif;
    text-align: center;
}
h5{
    font-family: "Dreams", sans-serif;
    text-align: center;
}
p{
    font-family: "Quicksand", sans-serif;
    text-align: center;
}
#nav {
    list-style-type: none;
    margin: -8px;
    padding: 0;
    overflow: hidden;
    background-color: #bcd9ff;
}
#nav li {
    float: right;
}
#nav li a {
    display: block;
    color: #8e3030;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#nav li a:hover {
    background-color: #073b8e;
    color: white;
}
#nav li a:active {
    background-color: white;
    color:black;
}
ul{
    font-family: "Quicksand", sans-serif;
    text-align: center;
}
ol{
    font-family: "Quicksand", sans-serif;
    text-align: center;
}
table{
    font-family: "Quicksand", sans-serif;
    text-align: center;
    margin:auto;
}
#bts {
    border: solid white 3px;
    margin: 50px;
    padding: 75px;
    text-align: center;
    font-size: larger;
    font-weight: bold;
}
#abt {
    text-align: center;
}
#hobbies{
    width: 250px;
    text-align: left;
    margin: auto;
}
#songs{
    width: 250px;
    text-align: left;
    margin: auto;
}
#contact{
    width: 300px;
    text-align: left;
    margin: auto;
}
#nav1 {
    list-style-type: none;
    margin: -8px;
    padding: 0;
    overflow: hidden;
    background-color: #c0dfe8;
}
#nav1 li {
    float: center;
}
#nav1 li a {
    display: block;
    color: #9c9d9e;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#nav1 li a:hover {
    background-color: #8ebecc;
    color: white;
}
#nav1 li a:active {
    background-color: white;
    color:black;
}
#nav1{
    width: 300px;
    text-align: left;
    margin: auto;
}
#game{
    text-align: center;
}
